{% extends 'base.html' %} 
{% load static %} 

{% block head %}
{% comment %} <link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/toys/toy-index.css' %}"
/> {% endcomment %}
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>All Care Instructions</h1>
  {% comment %} <img src="{% static 'images/string.svg' %}" alt="A ball of string" />
  <img src="{% static 'images/mouse.svg' %}" alt="A mouse" />
  <img src="{% static 'images/post.svg' %}" alt="A scratching post" />
  <img src="{% static 'images/fish.svg' %}" alt="A fishy toy" /> {% endcomment %}
</section>

<section class="card-container">
  {% for item in care_list %}
  <div class="card">
    <div class="card-bg"></div>
    <a href="{% url 'care-detail' item.id %}">
      <div class="card-content">
        <h2>{{ item.category }}</h2>
        <p>A {{ item.frequency }}</p>
      </div>
    </a>
  </div>
  {% endfor %}
</section>

{% endblock %}