{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="page-header">
  <h1>Delete Horse?</h1>
  {% comment %} <img src="{% static 'images/nerd-horse.svg' %}" alt="A horse using a computer"/> {% endcomment %}
</div>
<h2>Are you sure you want to delete {{ horse.name }}?</h2>

<form action="" method="post" class="form">
  {% csrf_token %}
  <a 
    href="{% url 'horse-detail' horse.id %}" 
    class="btn secondary"
  >
    Cancel
  </a>
  <button type="submit" class="btn danger">Yes - Delete!</button>
</form>

{% endblock %}